<ul class="pagination pagination-lg">
    {% if currentPage != 1 %}
        <li><a href="{{  url(route) ~ '?' ~ getParamName ~ '=' ~ (currentPage - 1) ~'&keyword=' ~ keyword}}"><i class="fa fa-long-arrow-left"></i></a></li>
    {% endif %}

    {% if totalPages == 0 %}
        <li><a href="{{ url(route) ~ '?' ~ getParamName ~ '=' ~ 1 ~'&keyword=' ~ keyword}}">1</a></li>
    {% else %}

        {% for i in 1..totalPages %}
            {% if i==issueCurrentPage %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{ url(route) ~ '?' ~ getParamName ~ '=' ~ i ~'&keyword=' ~ keyword}}">{{ i }}</a></li>
        {% endfor %}

    {% endif %}

    {% if totalPages > 0 %}
        {% if currentPage != totalPages %}
            <li><a href="{{ url(route) ~ '?' ~ getParamName ~ '=' ~ (currentPage + 1) ~'&keyword=' ~ keyword}}"><i class="fa fa-long-arrow-right"></i></a></li>
        {% endif %}
    {% endif %}
</ul>