{% extends ':default:index.html.twig' %} 

{% block body_feature %}
<section id="about-us">
	<div class="container">
        <div class="flash-message">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {{ form_start(issueForm) }}

        <h2>Edit</h2>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.status,'issue status'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.status) }} {{
                form_widget(issueForm.status, {'required':false}) }}</div>
            <div class="table-cell"></div>
        </div>

        <div class="table-row">
            <div class="table-cell">
                <div class="alert-warning">{{ form_errors(issueForm) }}</div>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.name,'issue name'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.name) }} {{
                form_widget(issueForm.name, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.name,'issue surname'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.surname) }} {{
                form_widget(issueForm.surname, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.email,'issue email'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.email) }} {{
                form_widget(issueForm.email, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.street,'issue street'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.street) }} {{
                form_widget(issueForm.street, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.cityZipCode,'issue cityZipCode'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.cityZipCode) }} {{
                form_widget(issueForm.cityZipCode, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.issueDescription,'issue issueDescription'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.issueDescription) }}
                {{ form_widget(issueForm.issueDescription, {'required':true}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_label(issueForm.telephone,'issue telephone'|trans({},'','')) }}</div>
            <div class="table-cell">{{ form_errors(issueForm.telephone) }} {{
                form_widget(issueForm.telephone, {'required':false}) }}</div>
        </div>

        <div class="table-row">
            <div class="table-cell">{{ form_widget(issueForm.issue_submit_button,
                {'label':'Uaktualnij'|trans({},'','')}) }}</div>
        </div>

        {{ form_end(issueForm) }}
    </div>
</section>

{% endblock %}
