	<a  href="{{ path('gosia_page_set_language',{'_locale' : 'pl'}) }}">
		{% if app.request.locale == 'pl' %}
			<img src="{{ asset('/public/images/flags/PL.png') }}"/>
		{% else %}
			<img src="{{ asset('/public/images/flags/PL.png') }}"/>
		{% endif %}
	</a>
	<a  href="{{ path('gosia_page_set_language', {'_locale' : 'de'}) }}">
		{% if app.request.locale == 'de' %}
			<img src="{{ asset('/public/images/flags/DE.png') }}"/>
		{% else %}
			<img src="{{ asset('/public/images/flags/DE.png') }}"/>
		{% endif %}
	</a>
	
